html, body{
    margin:0;
    padding:0;

}

#canvasXOtable{
    position: absolute;
    z-index: -1;

}

#panel{
    position:fixed;
    right:0;
    color:white;
    vertical-align: middle;
    text-align: center;
    padding:5px;
    background-color: orangered;
}
#panel span{
    cursor:pointer;
}


.XOtable{

    border-collapse: collapse;
    font-family: "Comic Sans MS";
    font-size: 0.7em;
    cursor:default;
}

.XOtable td:hover:before{
    color: #F56607;
    content: 'X';
}

.XOtable.showO td:hover:before{
    color: #2EB821;
    content: 'O';
}

.XOtable td.X:hover:before{
    content: '';
}
.XOtable td.O:hover:before{
    content: '';
}

tr{

    padding:0;
}

td{
    width:25px;
    height:25px;
    text-align:center;
    padding:0;
    margin:0;
    border:0 solid lightgrey;
}

span.X{
    color: #F56607;
}
span.O{
    color: #2EB821;
}

span{

    cursor:default;
    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

}

#menu-container {
    cursor:default;
    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(230, 230, 230, 0.5);
}

#menu-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.dialog{
    position:relative;
    display:inline-block;
    vertical-align: middle;
    border-radius: 10px;
    width:200px;
    height:200px;
    background: #FCFBFA;
    box-shadow: 3px 3px 15px #999999;
    font-family: Tahoma;
    font-size: 18px;
    color: #808080;
}
#end-game{
    display: none;
}
#start-menu{
    text-align: right;
    background-image: url(./bkg.png);
}

#end-message{
    display: block;
    width: 100%;
    height:100%;
}
.Xwin{
    background-image: url(./xwin.png);
}

.Owin{
    background-image: url(./owin.png);
}

.drawwin{
    background-image: url(./draw.png);
}

#start-menu .setup{
    display: block;
    position:absolute;
    bottom:0;
    right:10px;
}
#start-menu .setup div {
    padding:5px;
    margin:5px;
    text-align: center;
}

.button{
    position:absolute;
    cursor:pointer;
    text-align: center;
    vertical-align: text-bottom;
    z-index: -1;
    color:#FCFBFA;
    box-shadow: 1px 1px 5px #999999;
    margin:0;
    padding:2px 10px;
    height:20px;
    bottom:-24px;
    background: orangered;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
}

.button.begin{
    right:35px;
}
.button.new{
    left:10px;
    background-color: #2BAD1F;
}
.button.continue{
    right:10px;
}