html, body{
    margin:0;
    padding:0;
    background-color: #F2F2F2 !important;
}

#canvasXOtable{
    position: absolute;
    z-index: -1;
}

.XOtable{

    border-collapse: collapse;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 5em;
    cursor:default;
    margin: 100px  auto 0 auto;
    width:500px;
    height:500px;
}

tr{
    padding:0;
}

td {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0 solid lightgrey;
}

.XOtable td:hover:before{
    color: #F56607;
    content: 'X';
}

.XOtable.showO td:hover:before{
    color: #2EB821;
    content: 'O';
}

.XOtable td.X:hover:before{
    content: '';
}
.XOtable td.O:hover:before{
    content: '';
}

span.X{
  color: #F56607;

}
span.O{
    color: #2EB821;
}

span{
    cursor:default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



#end-game{
    height:400px;
    width:400px;
    display: none;
    margin: 150px  auto 0 auto;
}

#start-menu{
    text-align: right;
    background-image: url(./main_bg_.png);
    height:600px;
    width:600px;
    position: relative;
    margin-top:50px;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    color: grey;

}

#start-menu .setup{
    display: block;
    position:absolute;
    bottom:22px;
    right:100px;
}

#start-menu .setup select{
   width:110px;
}

#start-menu .setup div {
    padding:25px;
    margin:25px;
    text-align: center;
}

#start-menu .btn.begin{
    bottom: -50px;
    right: 100px;
    width: 200px;
}

.Xwin{
    background-image: url(./xwin.png);
}

.Owin{
    background-image: url(./owin_.png);
}

.drawwin{
    background-image: url(./draw.png);
}

.button{
    position:absolute;
    cursor:pointer;
    text-align: center;
    vertical-align: text-bottom;
    z-index: -1;
    color:#FCFBFA;
    box-shadow: 1px 1px 5px #999999;
    margin:0;
    padding:2px 10px;
    height:20px;
    bottom:-24px;
    background: orangered;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
}

.button.begin{
    right:35px;
}
.button.new{
    left:10px;
    background-color: #2BAD1F;
}
.button.continue{
    right:10px;
}

#field-container{
    position: relative;
    width:631px;
    height:882px;
    background: url(./letter_bg.png) no-repeat center;
}

#field-container .btn{
    position:absolute;
    color: #cccccc;
    background-color: rgba(255,255,255,0);
    font-size: 25px;
    border-width: 3px;
}
#field-container .btn:hover{
   color: #FAA24B;
}

#field-container .btn.new{
    bottom: 150px;
    right: 200px;
    transform: rotate(-20deg);
}

#field-container .btn.clear{
    bottom: 80px;
    right: 90px;
    transform: rotate(15deg);
}

#pencil{
    position: absolute;
    z-index: 1;
    bottom:-30px;
    right:-170px;
    width:244px;
    height:506px;
    background: url(./pencil.png) no-repeat center;
}

#inGameButtons{
    display: none;
}